*/data/*
*/output/*
*/notebooks/*
*/cache/*
.git
.venv
*.omx
*.mmap
*.log
*.parquet
*.h5
*/examples/example*/*
*/test_*/*
*/example_mtc/*
*/example_estimation/*
*/prototype_mwcog/*
*/prototype_sandag_xborder/*
*/prototype_marin/*
*/prototype_arc/*
*/production_semcog/*
*/placeholder_psrc/*
